<!-- main app container -->
<div>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1><a [routerLink]="['/']">Learn together</a></h1>
        </div>
        <div class="col-sm; right-block;">
          <a [routerLink]="['/login']" class="btn btn-link">Login</a>
          <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
        </div>
      </div>
      <!--<alert></alert>-->
    </div>
  </div>
  <div class="container">
    <div class="justify-content-center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
